* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* border: 1px solid red; */
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* HEADER */

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  height: 65px;
  position: absolute;
  gap: 950px;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navbar i {
  font-size: 26px;
  display: none;
  color: white;
}
#toggle-menu {
  display: none;
}

.navbar-list {
  display: flex;
  gap: 50px;
}

.navbar-list a {
  color: #f5f0ed;
}

/* BODY/MAIN */

#nosotros {
  background-image: url(assest/Fondo1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  color: #f5f0ed;
  gap: 50px;
  text-align: center;
}
h1 {
  font-size: 44px;
  padding-left: 750px;
  padding-right: 750px;
}
.intro {
  font-size: 16px;
  padding-left: 650px;
  padding-right: 650px;
}

.division {
  display: flex;
  align-items: center;
}

.brunch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #d03b40;
  width: 50%;
  height: 400px;
  gap: 20px;
}

.ven {
  font-size: 28px;
  color: #ded6c0;
}

.domingos {
  font-size: 16px;
  color: #ded6c0;
}

.fiestas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ded6c0;
  width: 50%;
  height: 400px;
  gap: 20px;
}

.celebra {
  font-size: 28px;
  color: #d03b40;
}

.descripfiestas {
  font-size: 16px;
  color: #d03b40;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

#productos {
  display: flex;
  flex-direction: column;
  background-color: #f5f0ed;
  height: 550px;
}

.npro {
  display: flex;
  justify-content: center;
  font-size: 44px;
  color: #d03b40;
  margin-top: 10px;
}

.panydulces {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  gap: 120px;
  padding-left: 35px;
  padding-top: 50px;
  margin-left: 80px;
}
.panes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  margin-left: 200px;
  margin-top: -155px;
}
.muffins {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  margin-left: 200px;
  margin-top: -155px;
}
.tortaseingredientes {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 43px;
  padding-top: 115px;
  position: absolute;
  width: 50%;
  margin-left: 300px;
}

.tdias {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  width: 50%;
  gap: 10px;
  margin-left: 200px;
  margin-top: -155px;
}

.ingredientes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  width: 50%;
  gap: 10px;
  margin-left: 200px;
  margin-top: -155px;
}
.contactoyubi {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #d03b40;
  width: 50%;
  height: 400px;
  gap: 20px;
}
/* FORMULARIOS */
#contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.nos {
  color: #ded6c0;
  margin-top: ;
  margin-bottom: 10px;
}

.Dmail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-left: 5px;
  margin-bottom: 20px;
  color: #ded6c0;
}
.mail {
  background-color: #ded6c0;
  color: black;
  border-radius: 10px;
  border: none;
  outline: none;
  height: 30px;
  width: 400px;
  padding: 10px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #ded6c0;
}

.area {
  resize: none;
  width: 400px;
  height: 100px;
  background-color: #ded6c0;
  color: black;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
}
.enviar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton {
  font-size: 15px;
  font-weight: 800;
  color: #d03b40;
  border-radius: 10px;
  background-color: #ded6c0;
  width: 150px;
  height: 40px;
  margin: 40px;
}
/* UBICACION */
.sabes {
  color: #d03b40;
}
.mapa {
  color: #d03b40;
}

#ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ded6c0;
  width: 50%;
  height: 400px;
  gap: 20px;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 300px;
  width: 400px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 250px;
  width: 400px;
  border-radius: 10px;
}
/* FOOTER */

.footer {
  background-image: url(assest/Fondo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footeramor {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

/* MEDIA QUERIES TABLET */

@media (max-width: 992px) {
  .head {
    position: absolute;
    gap: 737px;
  }
  .navbar-list {
    justify-content: center;
    align-items: center;
    gap: 22px;
    font-size: 14px;
  }

  .navbar ul {
    background: #d03b40e0;
    width: 40%;
    position: absolute;
    top: 65px;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 15px 15px;
    border: 3px solid #72202370;
    border-top: 0;
    display: none;
    padding: 45px 0;
    gap: 46px;
    z-index: 2;
  }
  .navbar i {
    display: block;
    cursor: pointer;
  }
  #toggle-menu:checked ~ .navbar-list {
    display: flex;
  }

  h1 {
    font-size: 48px;
    padding-left: 295px;
    padding-right: 270px;
    position: relative;
  }
  .intro {
    font-size: 16px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .division {
    flex-direction: column;
  }
  .brunch {
    width: 100%;
    height: 300px;
  }
  .fiestas {
    width: 100%;
    height: 300px;
  }
  #productos {
    height: 1100px;
  }
  .panydulces {
    margin-left: 10px;
    width: 100%;
    margin-left: 0;
    align-items: center;
  }
  .tortaseingredientes {
    position: relative;
    align-items: flex-start;
    width: 100%;
    margin-left: 0;
    padding-left: 147px;
  }
  .contactoyubi {
    display: flex;
    flex-direction: column;
  }
  .contacto {
    width: 100%;
  }
  #ubicacion {
    width: 100%;
  }
  .mapa {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
}

/* MEDIA QUERIES CELULAR */

@media (max-width: 576px) {
  .head {
    gap: 317px;
  }
  h1 {
    font-size: 40px;
    padding-left: 143px;
    padding-right: 124px;
  }
  .intro {
    padding-left: 22px;
    padding-right: 15px;
  }
  .domingos {
    text-align: center;
    padding: 0 50px 0 50px;
  }
  #productos {
    height: 1045px;
  }
  .descripfiestas {
    margin-left: 33px;
    margin-right: 33px;
  }
  .tortaseingredientes {
    padding-left: 35px;
  }
  .nos {
    margin-top: 10px;
  }
  .sabes {
    margin-top: 5px;
  }
}
